html,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  height: 100%;
}

li .minstr,
li .mpunkt,
.menuheader {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #f1f1f1;
}

.menuheader {
  background-color: #01cdfe;
  color: white;
  text-align: center;
}

li .minstr {
  cursor: pointer;
}

li .minstr:hover:not(.active) {
  background-color: #555;
  color: white;
}

li .mpunkt {
  cursor: pointer;
  padding: 8px 32px;
}

li .mpunkt:hover:not(.active) {
  background-color: #666;
  color: white;
}

li .active {
  background-color: #9debff;
}

#container {
  display: flex;
  flex-direction: row;
}

#interface {
  /*flex: 0 1 auto;*/
  height: 100vh;
  overflow: auto;
  max-width: 15%;
}

#instrukcja {
  flex: 1;
  height: 100vh;
  overflow: auto;
  padding-left: 10px;
}

td {
  border: 1px solid black;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
