ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
}

li {
  float: left;
}

li .wyb,
.dropbtn {
  display: inline-block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li .wyb:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .wyb {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content .wyb:hover {
  background-color: #d3d3d3;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

td {
  border: 1px solid black;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
